span.css-10trblm.eqr7zpz0 {
    text-align: center;
}

textarea.st-bc.st-c1.st-c2.st-c3.st-c4.st-c5.st-c6.st-c7.st-c8.st-c9.st-ca.st-b8.st-cb.st-cc.st-cd.st-ce.st-cf.st-cg.st-ch.st-ci.st-ae.st-af.st-ag.st-cj.st-ai.st-aj.st-c0.st-ck.st-cl.st-cm.st-cn.st-co.st-cp {
    resize: none;
    font-size: 10px;
    font-family: 'Nunito';
    height: 300px;
}

div.block-container.css-1y4p8pa.e1g8pov64 {
    height: 760px;
}

div.css-183lzff.e170wjxx0 {
    font-size: 20px;
    font-weight: bold;
    color: #33DBFF;
}

div.css-1y4p8pa {
    padding-top: 3rem;
}

div.css-1if5ada.e1oyb3mv1 {
    pointer-events: none;
    opacity: 0;
}
