@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

span.css-10trblm.eqr7zpz0
{
    text-align: center;
}

textarea.st-bc.st-c1.st-c2.st-c3.st-c4.st-c5.st-c6.st-c7.st-c8.st-c9.st-ca.st-b8.st-cb.st-cc.st-cd.st-ce.st-cf.st-cg.st-ch.st-ci.st-ae.st-af.st-ag.st-cj.st-ai.st-aj.st-c0.st-ck.st-cl.st-cm.st-cn.st-co.st-cp{
    background-color: #fff;
}
